{% extends 'main/lay_out.html' %}  <!-- файл у которого наследуем код -->

<!-- теперь прописываем блоки нашего кода, можно писать не block, а section -->

{% block title %}
    Информация про нас
{% endblock %}

{% block body %}

    <div class="features">
        <h1>Информация обо мне</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis cupiditate deleniti dolorem
            dolorum ducimus eum explicabo fugit impedit iusto labore, magni nulla placeat quidem sapiente veniam vero
            voluptate! Facere.</p>
        <button class="btn btn-danger">  <!-- создали кнопку с классом стилей из bootstrap -->
            Нажми
        </button>

        {% for el in values %}  <!-- создаем цикл -->
            <p>{{ el }}</p>
        {% endfor %}  <!-- обязательно закрываем цикл -->
    </div>

    {% include 'main/test.html' %}  <!-- Подключаем код из другого файла для теста -->
{% endblock %}
