{% extends 'main/lay_out.html' %}  <!-- файл у которого наследуем код -->

<!-- теперь прописываем блоки нашего кода, можно писать не block, а section -->

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis cupiditate deleniti dolorem
            dolorum ducimus eum explicabo fugit impedit iusto labore, magni nulla placeat quidem sapiente veniam vero
            voluptate! Facere.</p>
        <button class="btn btn-warning">  <!-- создали кнопку с классом стилей из bootstrap -->
            Отправить
        </button>
    </div>
{% endblock %}
