/* ЗДЕСЬ БУДУТ ВСЕ СТИЛИ ПРИЛОЖЕНИЯ MAIN */

body {
    background: LightYellow;
}

aside {
    float: left;  /* размещение на странице */
    background: Moccasin;
    weight: 20%;  /* ширина блока */
    height: 100vh;  /* высота относительно размера страницы */
    border-right: 5px solid DimGray;  /* граница с основным блоком */
    padding: 2.5%;  /* отступ внутри раздела aside */
    color: DarkSlateGray;  /* цвет текста */
}

aside img {
    float: left;
    width: 100px;
}

aside .logo {
    font-size: 28px;  /* размер шрифта */
    margin-left: 20px;  /* отступ слева */
    font-weight: normal;  /* жирный шрифт */
    position: relative;  /* размещение относительно своего исходного положения */
    top: 25px;
}

aside h3 {
    margin-top: 70px;
    font-size: 23px;
}

aside ul {list-style: None}  /* убираем кружочки у каждого пункта в списке */

aside ul li {  /* обращаемся к каждому элементу в списке */
    display: block;  /* каждый элемент блочный */
    margin-top: 10px;
    Color: DimGray;
    transition: transform .6s ease;  /* добавляем плавности к увеличению текста при наведении на 6 миллисекунд */
}

a {
    text-decoration: none;  /* убирает нижнее подчеркивание у ссылок */
}

aside ul li:hover, aside ul a:hover {  /* псевдокласс, который действует при наведении */
    Color: SaddleBrown;
    transform: scale(1.05);  /* меняет размер на 5% при наведении */
}

main .features {
    float: left;
    text-align: center;
    margin-top: 100px;
    width: 75%;
    Color: DimGray;
}

main .features h1 {
    font-size: 40px;
}

main .features p {
    max-width: 400px;  /* максимальная ширина у параграфа */
    margin: 20px auto;  /* отступы сверху и снизу по 20px, а по бокам в автоматическом режиме */
}